<div class="container text-center">
    <h1>About Page</h1>
    <p>Welcome to BotonyBox. We are a subscription box program dedicated to gardeners.
    Our box is perfect for both the seasoned gardener and the inexperienced gardener. 
    </p>
</div>